.title {
    font-size: 75px;
    padding: 10px;
    margin-left: 25px;
    color: white;
    opacity: 0.75;
}

.background {
    width: 100%;
    height: 100%;
}
.page-title {
    font-size: 35px;
}

.info {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    display: inline-block;
}

.background {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #123c69;
    height: 125px;
}

.nav-buttons {
    margin-right: 25px;
}
.nav-buttons,
a {
    margin-left: 10px;
}

/* .treatment-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} */

.exercise-card {
    width: 50%;
    margin: 10px auto;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
    text-align: left;
    background-color: rgba(194, 185, 176, 0.9);
    color: #123c69;
    border-radius: 8px;
    box-shadow: 5px 5px 10px black;
}

.exercise-program {
    transition: all 1s ease;
}

.body-region-info {
    font-size: 18px;
}
.drop-down-button {
    font-size: 20px;
}

.icons {
    height: 200px;
    border-radius: 50%;
}

.additional-info-body {
    display: flex;
}

.page-info {
    width: 80%;
    margin: 25px auto;
    border: 2px transparent solid;
    padding: 0px 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.9);
    color: #123c69;
    box-shadow: 5px 5px 10px black;
    font-size: 18px;
}

.additional-info-container {
    width: 80%;
    margin: 25px auto;
    border: 2px transparent solid;
    padding: 0px 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: rgba(250, 250, 250, 0.9);
    color: #123c69;
    box-shadow: 5px 5px 10px black;
    font-size: 18px;
}

.additional-info-body-right {
    margin-left: 20px;
    padding: 0 10px;
}

.additional-info-title {
    font-size: 35px;
    padding: 0 10px;
}

.body-region {
    font-size: 35px;
    margin: 0px;
}

.youtube-button {
    display: flex;
    justify-content: space-around;
    background-color: grey;
    border-radius: 8px;
}
